body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7%;
  background-color: rgb(75, 139, 139);
}

#calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 550px;
  background-color: gray;
  border: 2px solid black;
  border-radius: 10px;
}

#screen-container {
  background-color: rgb(217, 152, 103);
  border-radius: 3px;
  margin-bottom: 20px;
  border: 2px solid black;
}

#equals {
  width: 195%;
  margin-left: 2px;
}

#answer,
#screen {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  height: 50px;
  width: 280px;
}

#answer {
  justify-content: flex-start;
  margin-left: 10px;
}

#screen {
  justify-content: flex-end;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 400px;
  width: 300px;
}

.button {
  border-radius: 10px;
}